@tailwind base;
@tailwind components;
@tailwind utilities;

/* Editor 스타일 정리 */
.ProseMirror,
.ProseMirror:focus,
.ProseMirror:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

/* 전역 레이아웃 초기화 */
body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* 기본 타이포그래피 */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 기본 텍스트, 링크 스타일 */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Tailwind @layer base 확장 */
@layer base {
  #root {
    text-align: left !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    max-width: none !important;
  }

  * {
    border-color: inherit;
  }

  /* Tailwind 클래스로 기본 색상 설정 */
  body {
    @apply bg-white text-black;
  }

  .dm-delete-btn {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    box-shadow: none !important;
  }
}