:root {
  --bg: #3C465C;
  --primary: #78FFCD;
  --solid: #fff;
  --btn-w: 6em;
  --dot-w: calc(var(--btn-w)*.2);
  --tr-X: calc(var(--btn-w) - var(--dot-w));
}

.atom-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Titillium Web', sans-serif;
}

.atom-btn {
  position: relative;
  margin: 0 auto;
  width: var(--btn-w);
  color: var(--primary);
  border: 0.15em solid var(--primary);
  border-radius: 5em;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  line-height: 2em;
  cursor: pointer;
  
}

.atom-btn .dot {
  content: '';
  position: absolute;
  top: 0;
  width: var(--dot-w);
  height: 100%;
  border-radius: 100%;
  transition: all 300ms ease;
  display: none;
}

.atom-btn .dot:after {
  content: '';
  position: absolute;
  left: calc(50% - 0.4em);
  top: -0.4em;
  height: 0.8em;
  width: 0.8em;
  background: var(--primary);
  border-radius: 1em;
  border: 0.25em solid var(--solid);
  box-shadow:
    0 0 0.7em var(--solid),
    0 0 2em var(--primary);
}

.atom-btn:hover .dot,
.atom-btn:focus .dot {
  animation: atom 2s infinite linear;
  display: block;
}

@keyframes atom {
  0% {transform: translateX(0) rotate(0);}
  30% {transform: translateX(var(--tr-X)) rotate(0);}
  50% {transform: translateX(var(--tr-X)) rotate(180deg);}
  80% {transform: translateX(0) rotate(180deg);}
  100% {transform: translateX(0) rotate(360deg);}
} 


