.neon-btn {
  position: relative;
  display: inline-block;
  padding: 2px 6px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 2px;
  overflow: hidden;
  font-weight: bold;
  border-radius: 4px;
}

.neon-btn:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.neon-btn span {
  position: absolute;
  display: block;
}

.neon-btn span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}
.neon-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
.neon-btn span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
.neon-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate1 {
  0% { left: -100%; }
  50%, 100% { left: 100%; }
}
@keyframes animate2 {
  0% { top: -100%; }
  50%, 100% { top: 100%; }
}
@keyframes animate3 {
  0% { right: -100%; }
  50%, 100% { right: 100%; }
}
@keyframes animate4 {
  0% { bottom: -100%; }
  50%, 100% { bottom: 100%; }
}

.neon-btn.green {
  color: white;
  background-color: #4EA685;
  box-shadow: 0 0 5px #4EA685,
    0 0 25px #4EA685,
    0 0 50px #4EA685,
    0 0 100px #4EA685;
  overflow: hidden;
  position: relative;
}

.neon-btn.green span {
  position: absolute;
  display: block;
  pointer-events: none;
  z-index: 1;
}

/* 애니메이션 라인을 더 밝은 색상으로 조정 */
.neon-btn.green span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #b5f7d3);
  animation: animate1 1s linear infinite;
}

.neon-btn.green span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #b5f7d3);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

.neon-btn.green span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #b5f7d3);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

.neon-btn.green span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #b5f7d3);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}